!!! D E F I N I T I O N S !!!
!
!! F O N T !!
! #define font SauceCodePro Nerd Font Mono
! #define font InconsolataLGC Nerd Font Mono
! #define font Hasklug Nerd Font Mono
! #define font FuraMono Nerd Font Mono
! #define font InconsolataGo Nerd Font Mono
! #define font Inconsolata Nerd Font Mono
!
! ! Latin Modern Mono
! #define font Latin Modern Mono
! #define fontsize size=10
! #define fontas antialias=true
!
! ! BitstreamVera
! #define font BitstreamVeraSansMono Nerd Font Mono
! #define fontsize size=12
! #define fontas antialias=true
!
! ! DejaVu Sans Mono
! #define font -*-dejavu sans mono-medium-r-*-*-*-*-*-*-*-*-*-*
! #define fontsize size=10
! #define fontas antialias=true
!
! ! Monoid
! #define font Monoid Nerd Font Mono
!
! ! Fira
! #define font fira code-medium
! #define fontsize size=10
! #define fontas antialias=true
!
! Input Mono !
#define font Input:style=Regular
#define fontsize size=10
#define fontas antialias=true
!
! ! PT !
! #define font "PT Mono"
! #define fontsize size=10
! #define fontas antialias=true

!!! C O N F I G !!!
! ~/.xres/xterm
! # Fonts
*.vt100.renderFont: true
*.vt100.faceName: font:fontsize:fontas
! *.vt100.font: 7x13

! # Behave
*.termName: xterm-256color
Xterm*vt100.saveLines: 1
*.scrollBar: false
*.utf8:2
*.ptyInitialErase:true

! Fix misfunctioning backspc in Arch Linux
*..vt100.backarrowKey: false
*..ttyModes: erase ^?
!*.buffered:true

!# Borders, SCroll
*.internalBorder:15
*.externalBorder:15
*.cursorBlink:true
*.cursorOffTime:512
*.cursorOnTime:512
*.borderless:false
*.skipScroll:true
*.scrollTty*:false
*.intensityStyles:true
*.title:$0:$$
*.lineSpace:0
*.letterSpace:0
*.form.Thickness:0
*.borderWidth:4
*.scaleHeight:1.0
*.vt100*colorMode:on
*.vt100*boldColors:on
*.vt100*dynamicColors:on
*.vt100*underLine:on

! ! Scheming
! !special
! *.foreground:   #b9b9b9
! *.background:   #101010
! *.cursorColor:  #b9b9b9

! ! black
! *.color0:       #101010
! *.color8:       #525252

! ! red
! *.color1:       #676767
! *.color9:       #7c7c7c

! ! green
! *.color2:       #696969
! *.color10:      #8e8e8e

! ! yellow
! *.color3:       #8b8b8b
! *.color11:      #a0a0a0

! ! blue
! *.color4:       #535353
! *.color12:      #686868

! ! magenta
! *.color5:       #606060
! *.color13:      #747474

! ! cyan
! *.color6:       #717171
! *.color14:      #868686

! ! white
! *.color7:       #b9b9b9
! *.color15:      #f7f7f7

