!!! D E F I N I T I O N S !!!
!
!! F O N T !!
! #define font SauceCodePro Nerd Font Mono
! #define font InconsolataLGC Nerd Font Mono
! #define font Hasklug Nerd Font Mono
! #define font FuraMono Nerd Font Mono
! #define font InconsolataGo Nerd Font Mono
! #define font Inconsolata Nerd Font Mono
! #define font Latin Modern Mono
!
! ! BitstreamVera
! #define font BitstreamVeraSansMono Nerd Font Mono
!
! ! Monoid
! #define font Monoid Nerd Font Mono
!
! Input Mono !
#define font Input Mono
#define fontsize size=9
#define fontas antialias=false
!
! ! PT !
! #define font PT Mono
! #define fontsize size=10
! #define fontas antialias=true

!!! C O N F I G !!!
! ~/.xres/xterm
! # Fonts
XTerm*vt100.renderFont: true
XTerm*vt100.faceName: font:fontsize:fontas
XTerm*vt100.font: 7x13

! # Behave
XTerm*termName: xterm-256color
Xterm*vt100.saveLines: 1
XTerm*vt100.scrollBar: false
XTerm*utf8:2
XTerm*ptyInitialErase:true

! Fix misfunctioning backspc in Arch Linux
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
!XTerm*buffered:true

!# Borders, SCroll
XTerm*internalBorder:35
XTerm*externalBorder:80
XTerm*cursorBlink:true
XTerm*cursorOffTime:512
XTerm*cursorOnTime:512
XTerm*borderless:true
XTerm*skipScroll:true
XTerm*scrollTty*:false
XTerm*intensityStyles:true
XTerm*title:$0:$$
XTerm*lineSpace:0
XTerm*letterSpace:0
XTerm*form.Thickness:0
XTerm*borderWidth:10
XTerm*scaleHeight:1.0
XTerm*vt100*colorMode:on
XTerm*vt100*boldColors:on
XTerm*vt100*dynamicColors:on
XTerm*vt100*underLine:on

! ! Scheming
! !special
! *.foreground:   #b9b9b9
! *.background:   #101010
! *.cursorColor:  #b9b9b9

! ! black
! *.color0:       #101010
! *.color8:       #525252

! ! red
! *.color1:       #676767
! *.color9:       #7c7c7c

! ! green
! *.color2:       #696969
! *.color10:      #8e8e8e

! ! yellow
! *.color3:       #8b8b8b
! *.color11:      #a0a0a0

! ! blue
! *.color4:       #535353
! *.color12:      #686868

! ! magenta
! *.color5:       #606060
! *.color13:      #747474

! ! cyan
! *.color6:       #717171
! *.color14:      #868686

! ! white
! *.color7:       #b9b9b9
! *.color15:      #f7f7f7

